---
import { Image } from "astro:assets";
---

<section id="nosotros" class="py-20 bg-gradient-to-b from-black to-gray-900">
  <div class="container mx-auto px-6 text-center">
    <h2 class="text-4xl font-elegant font-bold mb-6 text-[#c0a062]">
      Sobre Allonge Estudio
    </h2>
    <p class="text-lg text-gray-300 mb-10 max-w-3xl mx-auto">
      En Allonge Estudio, nos dedicamos a cultivar el talento y pasión por la
      danza. Nuestra misión es ofrecer una formación artistica e integral de
      alta calidad en un ambiente inspirador y profesional, guiando a cada
      estudiante a alcanzar su máximo potencial artístico y personal.
    </p>
    <div class="grid md:grid-cols-2 gap-10 items-center">
      <div class="text-left">
        <h3 class="text-2xl font-elegant font-semibold mb-3 text-[#c0a062]">
          Nuestra Visión
        </h3>
        <p class="text-gray-400 mb-6">
          Ser la academia de danza líder, reconocida por su excelencia
          académica, su enfoque innovador y su compromiso con el desarrollo
          artístico de nuestros bailarines.
        </p>
        <h3 class="text-2xl font-elegant font-semibold mb-3 text-[#c0a062]">
          Valores
        </h3>
        <ul class="list-disc list-inside text-gray-400 space-y-2">
          <li>Disciplina y Dedicación</li>
          <li>Pasión por el Arte</li>
          <li>Respeto y Compañerismo</li>
          <li>Búsqueda de la Excelencia</li>
          <li>Integridad Artística</li>
        </ul>
      </div>
      <div
        class="rounded-lg overflow-hidden shadow-xl mx-auto w-full max-w-2xl h-[300px] sm:h-[350px] lg:h-[400px]"
      >
        <Image
          src="/bailarina3.jpg"
          alt="Estudiantes de Allonge Estudio en clase"
          width={800}
          height={400}
          class="w-full h-full object-cover"
        />
      </div>
    </div>
    <div class="divider"></div>
  </div>
</section>
