---
import { Image } from "astro:assets";
---

<section id="facultad" class="py-20 bg-gradient-to-b from-gray-900 to-black">
  <div class="container mx-auto px-6">
    <h2
      class="text-4xl font-elegant font-bold text-center mb-12 text-[#c0a062]"
    >
      Nuestra Facultad
    </h2>
    <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-10">
      <div class="text-center">
        <Image
          src="/1.jpg"
          alt="Estudiantes de Allonge Estudio en clase"
          width={300}
          height={300}
          class="w-48 h-48 rounded-full mx-auto mb-4 object-cover border-4 border-gray-700 shadow-lg"
        />
        <h3 class="text-xl font-semibold mb-1">Nombre Director/a</h3>
        <p class="text-[#c0a062] mb-2">Director/a Artístico/a</p>
        <p class="text-gray-400 text-sm">
          Breve descripción de su experiencia y filosofía. Lorem ipsum dolor sit
          amet, consectetur adipiscing elit.
        </p>
      </div>
      <div class="text-center">
        <Image
          src="/2.jpg"
          alt="Estudiantes de Allonge Estudio en clase"
          width={300}
          height={300}
          class="w-48 h-48 rounded-full mx-auto mb-4 object-cover border-4 border-gray-700 shadow-lg"
        />
        <h3 class="text-xl font-semibold mb-1">Nombre Maestro/a</h3>
        <p class="text-[#c0a062] mb-2">Maestro/a de Ballet</p>
        <p class="text-gray-400 text-sm">
          Experiencia en técnica clásica y formación de jóvenes talentos. Sed do
          eiusmod tempor incididunt ut labore.
        </p>
      </div>
      <div class="text-center">
        <Image
          src="/3.jpg"
          alt="Estudiantes de Allonge Estudio en clase"
          width={300}
          height={300}
          class="w-48 h-48 rounded-full mx-auto mb-4 object-cover border-4 border-gray-700 shadow-lg"
        />
        <h3 class="text-xl font-semibold mb-1">Nombre Maestro/a</h3>
        <p class="text-[#c0a062] mb-2">Maestro/a de Contemporáneo</p>
        <p class="text-gray-400 text-sm">
          Especialista en técnicas contemporáneas y expresión corporal. Ut enim
          ad minim veniam.
        </p>
      </div>
    </div>
    <div class="divider"></div>
  </div>
</section>
