---
// Este componente representa el pie de página.
---

<footer class="bg-black border-t border-gray-800 py-8">
  <div class="container mx-auto px-6 text-center text-gray-500">
    <div class="mb-4">
      <a href="#" class="text-xl font-elegant font-bold text-white hover-effect"
        >Allonge<span class="text-[#c0a062]">Estudio</span></a
      >
    </div>
    <div class="flex justify-center space-x-6 mb-4">
      <a href="#nosotros" class="hover:text-white hover-effect">Nosotros</a>
      <a href="#programas" class="hover:text-white hover-effect">Programas</a>
      <a href="#facultad" class="hover:text-white hover-effect">Facultad</a>
      <a href="#galeria" class="hover:text-white hover-effect">Galería</a>
      <a href="#contacto" class="hover:text-white hover-effect">Contacto</a>
    </div>
    <div class="mb-4">
      <a
        href="https://www.instagram.com/allongestudio/?hl=es-la"
        target="_blank"
        class="text-gray-400 hover:text-white hover-effect text-2xl"
      >
        <i class="fa-brands fa-instagram"></i>
      </a>
    </div>
    <p class="text-sm">
      &copy; 2024 Allonge Estudio. Todos los derechos reservados.
    </p>
    <p class="text-xs mt-1">
      Diseñado por <a
        href="https://wemake180.com"
        target="_blank"
        class="hover:text-white hover-effect">wemake180</a
      > con <i class="fa-solid fa-heart"></i>
    </p>
  </div>
</footer>
