---
import { Image } from "astro:assets";
---

<section id="galeria" class="py-10 bg-black">
  <div class="container mx-auto px-6">
    <h2
      class="text-4xl font-elegant font-bold text-center mb-12 text-[#c0a062]"
    >
      Galería de Momentos
    </h2>
    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
      <div
        class="rounded-lg overflow-hidden shadow-lg border border-gray-800 hover:opacity-80 transition duration-300"
      >
        <Image
          src="/estudiantes-en-clase.jpeg"
          alt="Estudiantes de Allonge Estudio en clase"
          width={400}
          height={400}
          class="w-full h-full object-cover"
        />
      </div>
      <div
        class="rounded-lg overflow-hidden shadow-lg border border-gray-800 hover:opacity-80 transition duration-300"
      >
        <Image
          src="/4.png"
          alt="Estudiantes de Allonge Estudio en clase"
          width={400}
          height={400}
          class="w-full h-full object-cover"
        />
      </div>
      <div
        class="rounded-lg overflow-hidden shadow-lg border border-gray-800 hover:opacity-80 transition duration-300"
      >
        <Image
          src="/5.png"
          alt="Estudiantes de Allonge Estudio en clase"
          width={400}
          height={400}
          class="w-full h-full object-cover"
        />
      </div>
      <div
        class="rounded-lg overflow-hidden shadow-lg border border-gray-800 hover:opacity-80 transition duration-300"
      >
        <Image
          src="/6.png"
          alt="Estudiantes de Allonge Estudio en clase"
          width={400}
          height={400}
          class="w-full h-full object-cover"
        />
      </div>
      <div
        class="rounded-lg overflow-hidden shadow-lg border border-gray-800 hover:opacity-80 transition duration-300"
      >
        <Image
          src="/7.png"
          alt="Estudiantes de Allonge Estudio en clase"
          width={400}
          height={400}
          class="w-full h-full object-cover"
        />
      </div>
      <div
        class="rounded-lg overflow-hidden shadow-lg border border-gray-800 hover:opacity-80 transition duration-300"
      >
        <Image
          src="/8.png"
          alt="Estudiantes de Allonge Estudio en clase"
          width={400}
          height={400}
          class="w-full h-full object-cover"
        />
      </div>
      <div
        class="rounded-lg overflow-hidden shadow-lg border border-gray-800 hover:opacity-80 transition duration-300"
      >
        <Image
          src="/9.png"
          alt="Estudiantes de Allonge Estudio en clase"
          width={400}
          height={400}
          class="w-full h-full object-cover"
        />
      </div>
      <div
        class="rounded-lg overflow-hidden shadow-lg border border-gray-800 hover:opacity-80 transition duration-300"
      >
        <Image
          src="/11.png"
          alt="Estudiantes de Allonge Estudio en clase"
          width={400}
          height={400}
          class="w-full h-full object-cover"
        />
      </div>
    </div>
    <div class="text-center mt-12">
      <a
        href="https://www.instagram.com/allongestudio/?hl=es-la"
        target="_blank"
        class="btn-glam hover-effect"
      >
        <i class="fab fa-instagram mr-2"></i> Ver más en Instagram
      </a>
    </div>
  </div>
</section>
