---
import { Image } from "astro:assets";
---

<section
  id="hero"
  class="relative h-screen flex items-center justify-center text-center"
>
  <div class="absolute inset-0 w-full h-full z-0">
    <Image
      src="/banner-allonge.jpg"
      alt="Estudiantes de Allonge Estudio en clase"
      width={1920}
      height={600}
      class="w-full h-full object-cover"
    />
  </div>
  <div class="hero-content container mx-auto px-6 relative z-10">
    <h1
      class="text-5xl md:text-7xl font-elegant font-bold mb-4 text-black leading text-shadow-black"
    >
      La Excelencia del Ballet en Allongé Studio
    </h1>
    <p class="text-xl md:text-2xl text-black/80 mb-8 max-w-3xl mx-auto">
      Formando bailarines con pasión, disciplina y arte.
    </p>
    <a href="#programas" class="btn-glam hover-effect"
      >Descubre Nuestros Programas</a
    >
  </div>
</section>
